/* .navbar{
    font-family: cursive;
} */

body {
    font-family: "Montserrat", sans-serif;
  }
  
div{
    /* margins:0 px; */
    overflow:hidden;
  }


img.profile{

        border-radius: 50%;
        margin: auto;
        display: block;
        width: 65%;
        
}


.name{
    /* font-family: cursive; */
    text-align: center;
}

.about{
    text-align: justify;
    /* margin-right: 25px; */
    font-family:  Arial, Helvetica, sans-serif;
}

.social{
    text-align: center;
}

.fa{
    color: black;
}

.social
{
    font-size: 30px;
}

.info{
    line-height: 180%;
}

footer{
    padding-top: 20px;
    text-align: center;
}