

@media screen and (min-width: 720px) {
  .card{
    flex-direction: row;
  }
}
.card{
  border-radius: 10px;
}
.card-subtitle{
  font-weight: normal;
}

@media screen and (min-width: 720px){
.card img {
  width: 350px;
}}

.card img {
  height: 250px;
}

@media screen and (min-width: 720px){
  .card iframe {
    width: 350px;
  }}
  
  .card iframe {
    height: 250px;
  }


.navbar-brand{
  font-weight: normal;
}

.intro{
  padding: 20px;
}