

@media screen and (min-width: 720px) {
  .card{
    flex-direction: row;
  }
}
.card{
  border-radius: 10px;
}
.card-subtitle{
  font-weight: normal;
}

@media screen and (min-width: 720px){
.card img {
  width: 35%;
}}

.card img {
  height: 250px;
}

.card iframe {
  width: 250px;
  height: 200px;
}

.navbar-brand{
  font-weight: normal;
}