

@media screen and (min-width: 540px) {
  .card{
    flex-direction: row;
  }
}
.card{
  border-radius: 10px;
}
.card-subtitle{
  font-weight: normal;
}
.card img {
  width: auto;
  height: 200px;
}

.card iframe {
  width: auto;
  height: 200px;
}

.navbar-brand{
  font-weight: normal;
}